<% user = User.find(reply.user_id) %>
<div class="jumbotron" style="margin-left: 2em">
  <div class="pull-right">
    <p>
      <% if not user.real_name.empty? %>
        <%= link_to user.real_name, user_path(user) %>
      <% else %>
        <%= link_to user.username, user_path(user) %>
      <% end %>
      replied on <%= reply.created_at.to_date %>
    </p>
  </div>
  <p><%= reply.body %></p>
</div>