<div class="panel panel-default">
  <% @departments.each_slice(2) do |depts| %>
    <div class="row">
      <% depts.each do |dept| %>
        <% if not dept.nil? %>
        <div class="col-md-6">
          <p class="registration-link"><%= link_to dept, { controller: 'registrations', action: 'dept', dept: dept }  %></p>
        </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>