<%= link_to "<< Back to Search", new_user_registration_path(user_id: params[:user_id]), :class => "btn btn-xs" %>
<br /><br />
<%= form_for :new_course_registrations, url: user_registrations_path do |f| %>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1> Search Results </h1><br />
      <%= f.submit "Save", :class => "btn btn-primary btn-xs" %><br />
    </div>
    <%= render partial: "register_form", locals: { f: f , courses: @courses} %>
  </div>
</div>
<% end %>