
<div class="jumbotron">
  <div class="container">
    <h3> It's easy to connect with your classmates! </h3>
    <p> Just use your RCS ID! </p>
    <%= link_to "Begin", sign_in_path, :class => "btn btn-primary btn-lg" %>
  </div>
</div>