<div class="panel panel-default">
  <div class="panel-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <% if !signed_in? %>
            <h3> It's easy to connect with your classmates! </h3>
            <p> Just use your RCS ID! </p>
            <%= link_to "Begin", sign_in_path, :class => "btn btn-primary" %>
          <% else %>
            <div class="col-md-12">
              <h3> News Feed </h3><hr />
              <% @courses.each do |course| %>
                <h4><%= link_to course.title, course_path(course), :class => 'unstyled-link' %></h4><br />
                <% Course.recent_posts(course).each do |rPost| %>
                  <%= render partial: "posts/post_tile", locals: {post: rPost, course_id: course.id, post_id: rPost.id} %>
                <% end %>
              <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
