<!-- Single course tile -->
<div class="media">
  <a class="pull-left" href="#">
    <%= course.abrev_name %>
  </a>
  <div class="media-body">
    <h4 class="media-heading"><%= course.title %></h4>
  </div>
</div>