<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">All Classes</h3>
  </div>
  <div class="panel-body">
    <% if @courses %>
      <% @courses.each do |course| %>
      <p><%= link_to course.abrev_name + " " + course.title +  " " + 
          course.crn + " " + course.level + " " + course.section, course
          %> </p>
      <% end %>
    <% end %>
  </div>
</div>