<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Classes Index</h3>
  </div>
  <div class="panel-body">
    <table class='table'>
      <tr>
        <th>Course</th>
        <th></th>
      </tr>
    <% if @courses %>
      <% @courses.each do |course| %>
      <tr>
        <td class="course-link"><%= link_to course.abrev_name + " " + course.title %> </td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
      </tr>
      <% end %>
    <% end %>
  </div>
</div>