<div class="panel panel-danger">
  <div class="panel-heading">
    <b><%= link_to post.title.capitalize , course_post_path(course_id: course_id, post_id: post_id, id: post_id) %> by <%= User.find(post.user_id).real_name %> </b>
  </div>
  <div class="panel-body">
    <%= post.body %>
  </div>
</div>