.course-link {
  line-height: 14px;
  margin: 20px;
  a {
    color: rgb(91, 91, 91);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    &:hover {
      color: rgb(000, 000, 000);
      text-decoration: none;
    }
  }
}

.profile-pic-tile {
  img {
    width: 34px;
    height: 34px;
  }
  text-align: center;
  width: 34px;
  margin: 1px;
}