// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.course-link {
  line-height: 14px;
  margin: 20px;
  a {
    color: rgb(91, 91, 91);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    &:hover {
      color: rgb(000, 000, 000);
      text-decoration: none;
    }
  }
}