p {
  font-size: 17px;
}

.jumbotron {
  padding: 15px;
  background: #F5F5F5;
  border-radius: 10px;
}


.panel-default {
  border: 1px solid #E0E0E0;
  border-radius: 15px;
  padding: 10px;
}

.panel-heading {
  
}