.course-link {
  a {
    color: rgb(51, 51, 51);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 20px;
  }
}

.discontinue-btn {
  color: red;
  &:hover {
    text-decoration: none;
    color: orange;
  }
}
