<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <%= link_to "Rensselaer Study Network", root_path, :class => 'navbar-brand' %>
  </div>
  <div class="navbar-default">
    <ul class="nav navbar-nav">
    <% if signed_in? %>
      <li>
        <%= link_to "Profile", sign_in_path %>
      </li>
      <li> 
        <%= link_to "Sign Out", sign_out_path %>
      </li>
      <% else %>
      <li>
        <%= link_to "Sign In", sign_in_path %>
      </li>
    <% end %>
    </ul>
  </div>
</nav>